body {
  background-color: #272727;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

input {
  border: 2px solid #000000;
  border-radius: 6px;
  height: 24px;
  margin-right: 16px;
}

button {
  background-color: #ffd900;
  height: 28px;
  width: 54px;
  border-radius: 12px;
}

.text {
  /* background-color: #ffd900; */
  color: #FFFFFF;
  height: auto;
  margin: 200px auto;
  font-size: 180px;
  font-weight: bold;
}